{#}
//  http://bootswatch.com/paper/ #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/fc-3.2.2/fh-3.1.2/r-2.1.0/datatables.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% endblock %}
    {% block head_javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js" charset="UTF-8"></script>
        <script src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/fc-3.2.2/fh-3.1.2/r-2.1.0/datatables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
        <script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.js"></script>

        <script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>

        {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
        {#<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>#}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />



    {#<link rel="stylesheet" href="/css/bootstrap.min.css">#}
    {% set roboto = '/admin/fonts/roboto/' %}
    <style type="text/css">
        {#@font-face {#}
            {#font-family: 'robotoregular';#}
            {#src: url('{{ roboto }}roboto-regular-webfont-webfont.eot');#}
            {#src: url('{{ roboto }}roboto-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),#}
            {#url('{{ roboto }}roboto-regular-webfont-webfont.woff2') format('woff2'),#}
            {#url('{{ roboto }}roboto-regular-webfont-webfont.woff') format('woff'),#}
            {#url('{{ roboto }}roboto-regular-webfont-webfont.ttf') format('truetype'),#}
            {#url('{{ roboto }}roboto-regular-webfont-webfont.svg#robotoregular') format('svg');#}
            {#font-weight: normal;#}
            {#font-style: normal;#}

        {#}#}
        body { padding-top: 50px; }
        body.iframe { padding-top: 0; }

        body *{
            font-family: 'Roboto', sans-serif;
        }

        /*.iframe .page-header{*/
            /*margin-top:10px;*/
            /*padding-bottom:0;*/
        /*}*/

        /*.iframe > .container{*/
            /*min-height:400px;*/
        /*}*/

        /*.dropdown-colorselector*/
        /*{*/
            /*padding-top: 7px;*/
        /*}*/
        /*.dropdown-colorselector .dropdown-toggle{*/
            /*border:1px solid #ccc;*/
        /*}*/
        /*.btn-colorselector{*/
            /*margin-top:-3px;*/
            /*height:19px !important;*/
        /*}*/

        /*#form_countries_chosen{*/
            /*width: 100% !important;*/
        /*}*/

        /*.form-control {*/
            /*border-radius: 2px;*/
        /*}*/

        /*!*.form-group{*!*/
        /*!*border-bottom: 1px solid #efefef;*!*/
        /*!*}*!*/

        /*.form-horizontal .form-group:last-of-type{*/
            /*padding-top:20px;*/
            /*border-top: 1px solid #efefef;*/
        /*}*/

        /*.form-group label{*/
            /*clear: left;*/
        /*}*/
    </style>
    {#  include js translation #}
    {#{% include 'CmsBundle:Partial:translations.html.twig' %}#}
</head>

<body>
    <div class="navbar-inverse navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse" id="navbar-main">


                <ul class="nav navbar-nav">
                    <li><a href="{{ path('admin_sermon_list') }}">{{ 'Sermons' |trans }}</a> </li>
                    <li><a href="{{ path('admin_preacher_list') }}">{{ 'Preachers' |trans }}</a> </li>
                </ul>
                {#{{ knp_menu_render('admin', {'currentClass': 'active', 'ancestorClass': 'active','template': 'CmsBundle:Partial:knp_menu.html.twig'}) }}#}

                {#<div class="pull-right">#}
                    {#<ul class="nav navbar-nav">#}
                        {#<li class="dropdown">#}
                            {#<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="preferences"><span class="glyphicon glyphicon-user"></span> {{  'Logged in'|trans }}: {{ app.user.username }} <span class="caret"></span></a>#}
                            {#<ul class="dropdown-menu" aria-labelledby="preferences">#}
                                {#{% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path('cms_tool_index') }}"><span class="glyphicon glyphicon-wrench"></span></i> {{ 'Tools'|trans }}</a></li>{% endif %}#}
                                {#<li><a href="/user/preferences"><span class="glyphicon glyphicon-cog"></span></i> {{ 'Preferences'|trans }}</a></li>#}

                                {#<li><a href="{{ path('cms_user_change_password') }}"><span class="glyphicon glyphicon-lock"></span></i> {{  'Change password'|trans }}</a></li>#}
                                {#}<li><a href="/help/support"><span class="glyphicon glyphicon-envelope"></span> {% trans %}Contact Support{%  endtrans %}</a></li>#}
                                {#<li class="divider"></li>#}
                                {#<li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span> {{ 'Logout'|trans }}</a></li>#}

                            {#</ul>#}
                        {#</li>#}

                    {#</ul>#}
                {#</div>#}
            </div>
        </div>
    </div>

    <div class="container">


    {% block body %}

        {% if datatable %}

                {{ sg_datatables_render_html(datatable) }}

        {% endif %}

    {% endblock %}

    </div>


    <script type="text/javascript" src="{{ asset('admin/js/scripts.js') }}"></script>


    <script type="text/javascript">



        $(function() {

        });


    </script>


    {#{% javascripts '@datatables_js' 'bundles/fosjsrouting/js/router.js' 'js/fos_js_routes.js' filter="?yui_js" %}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    {#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}


    {% if datatable %}
        {{ sg_datatables_render_js(datatable) }}
    {% endif %}

    {% block javascripts %}
    {% endblock %}
    {% block jsOnload %}
    {% endblock %}
</div>
</body>
</html>