{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <h1>{% if action == 'edit' %}{{ 'Edit sermon' | trans }}{% else %}{{ 'Add sermon' | trans }}{% endif %}</h1>
    <hr>
    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}