{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <h1>{{ 'Sermons' | trans }} <a class="btn btn-primary pull-right" href="{{ path('admin_sermon_add') }}">{{ 'Add sermon' | trans }}</a></h1>

    {{ sg_datatables_render(datatable) }}

{% endblock %}