{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <h1>{{ 'Preachers' | trans }} <a class="btn btn-primary pull-right" href="{{ path('admin_preacher_add') }}">{{ 'Add preacher' | trans }}</a></h1>

    {{ sg_datatables_render(datatable) }}

{% endblock %}